<!--
  ~   Copyright (c) HAN, 2025
  ~   Licensed under the EUPL-1.2-or-later, with extension of article 5
  ~   (compatibility clause) to any licence for distributing derivative works
  ~   that have been produced by the normal use of the Work as a library.
  ~   See the LICENSE file for the full details of EUPL-1.2
  -->

<configuration scan="true">
	<turboFilter class="se.digg.application.util.DeduplicationFilter"/>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/.digg/logs/client.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.home}/.digg-service/logs/server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss zzz} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="org.hibernate.SQL" level="DEBUG"/>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG"/>
	<root level="DEBUG">
		<appender-ref ref="console"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>